/* initial styles */
#main .container-fluid {
    padding: 1% 15%; 
}
#main .container-fluid.dark {
    background: #4f4646;
}
#main .col-3 .card {
    padding: 10% 0%;
}
#main .col-9 .card  {
    border: 0px;
    height: 100vh;
}
#main .col-12 .card {
    border: 0px;
    height: 100vh;
    margin-left: 0%;
}
#main .card hr {
    width:50%;
    margin: 0% auto;
}
#main button {
    width:70px;
}
/* mouse-over dark light mode  */
#main .card.light:hover {
    background-color: #abeef4;
}
#main .card.dark:hover {
    background: linear-gradient(90deg, #6a6060, transparent) #3f3f3f;
}
/* card light dark mode  */
#main .card.light span, #main .card.light h3, 
#main .card.light h6, #main .card.light ul,
#main .card.light hr{
    color: #000;
}
#main .card.dark span, #main .card.dark h3, 
#main .card.dark h6, #main .card.dark ul,
#main .card.dark hr {
    color: rgb(225, 225, 225);
}
#main .card.dark, #main .col-9.dark, #main .col-3.dark, #main .col-12.dark {
    border-color: rgb(162, 159, 159);
    background: #4f4646;
    transition: background-color 0.5s;
}
#main .card.light, #main .col-9.light, #main .col-3.light, #main .col-12.light{
    background: linear-gradient(90deg, #ffffff, transparent) #ffffff;
    border-color: rgb(162, 159, 159);
    transition: background-color 0.5s;
}
#main a {
    text-decoration-line: none;
}
#main .row .row {
    padding-right: 0px;
}