#top-bar img {
    height:5vh;
}
#top-bar .container-fluid {
    padding: 3%;
}
#top-bar .container-fluid.light{
    background-color: #7430f9;
    background-image: linear-gradient(to right,#7430f9, #8a50ff, #1900ff );
}
#top-bar .container-fluid.dark {
    background-color: #1c1c1c;
    background-image: linear-gradient(to right,#1c1c1c, #272424, #4f4646 );
}