#top-bar img {
    height:5vh;
}
#top-bar .container-fluid {
    padding: 5% 15% 0% 15%;   
}
#top-bar .container-fluid.light{
    background: linear-gradient(to right,#fff,#abeef4 );
}
#top-bar .container-fluid.dark {
    background: linear-gradient(to right,#1c1c1c, #1c1c1c,#4f4646 );
}